@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

body{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.first,
.second,
.third,
.fourth{
    padding: 0 165px;
}

.second,
.third,
.fourth{
    height: 450px;
}

.first, .footer{
    background-color: #1f2937;
}

.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
}

.header a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.content{
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.main{
    flex: 1;
}

.main .title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main .subtext{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.placeholder{
    height: 240px;
    color: #f8f8fa;
    background-color: #7b7c88;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

button{
    font-size: 18px;
    background-color: #3882f6;
    color: white;
    border: #3882f6 solid 1px;
    border-radius: 8px;
    padding: 8px 30px;
}

.fourth button{
    border-color: white;
}

.second{
    text-align: center;    
}

.second .title{
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    margin: 48px 0;
}

.information{
    max-width: 180px;
}

.image{
    height: 180px;
    border: 4px #3882f6 solid;
    border-radius: 25px;
    margin-bottom: 8px;
}

.information .subtext{
    color: #1f2937;
}

.second .container{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.third{
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third .container{
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-weight: 300;
}

.author{
    margin-left: auto;
    font-size: 22px;
    font-weight: 700;
}